<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Listado de Casos</title>
</head>

<body>

    <h2>Casos Registrados</h2>

    <table border="1">
        <tr>
            <th>ID</th>
            <th>Analista</th>
            <th>Sistema</th>
            <th>N° Caso</th>
            <th>Prioridad</th>
            <th>Defino 30/09</th>
            <th>Atendido</th>
        </tr>

        {% for c in registros %}
        <tr>
            <td>{{ c[0] }}</td>
            <td>{{ c[1] }}</td>
            <td>{{ c[2] }}</td>
            <td>{{ c[3] }}</td>
            <td>{{ c[4] }}</td>
            <td>{{ c[5] }}</td>
            <td>{{ c[6] }}</td>

            <td>
                <a href="/resultados/{{ c[0] }}">Ver</a>
            </td>
        </tr>
        {% endfor %}
    </table>
    <a href="/">Nuevo Caso</a>
</body>

</html>