<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Listado de Casos</title>
</head>

<body>

    <h2>Casos Registrados</h2>

    <!-- Botón de descarga -->
    <p>
        <a href="/exportar">
            <button>Descargar registros</button>
        </a>
    </p>

    <table border="1">
        <tr>
            <th>ID</th>
            <th>Analista</th>
            <th>Sistema</th>
            <th>N° Caso</th>
            <th>Prioridad</th>
            <th>Observaciones</th>
            <th>Defino 30/09</th>
            <th>Atendido</th>
            
        </tr>

        {% for c in registros %}
        <tr>
            <td>{{ c[0] }}</td>
            <td>{{ c[1] }}</td>
            <td>{{ c[2] }}</td>
            <td>{{ c[3] }}</td>
            <td>{{ c[4] }}</td>
            <td>{{ c[5] }}</td>
            <td>{{ c[6] }}</td>
            <td>{{ c[7] }}</td>
            <td>{{ c[8] }}</td>
            <td>
                <!-- Ver -->
                <a href="/resultados/{{ c[0] }}">Ver</a> |

                <!-- Editar -->
                <a href="/editar/{{ c[0] }}">Editar</a> |

                <!-- Eliminar -->
                <a href="/eliminar/{{ c[0] }}"
                   onclick="return confirm('¿Está seguro de que desea eliminar este caso?');"
                   title="Eliminar">
                    🗑️
                </a>
            </td>
        </tr>
        {% endfor %}
    </table>

    <p>
        <a href="/">Nuevo Caso</a>
    </p>

</body>
</html>
