<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Resultados</title>
</head>

<body>
    <h2>Datos ingresados</h2>
    <ul>
        <li>Analista: {{ caso[1] }}</li>
        <li>Sistema: {{ caso[2] }}</li>
        <li>Número de Caso: {{ caso[3] }}</li>
        <li>Prioridad: {{ caso[4] }}</li>
        <li>Observaciones: {{ caso[5] }}</li>
        <li>Definió 3009: {{ caso[6] }}</li>
        <li>Fecha Atendido: {{ caso[7] }}</li>
    </ul>
    <a href="/lista">Volver a lista</a>
</body>

</html>